{% extends "base.html" %}
{% block content %}
    <main>
        <h1>Edit {{ recipe_object.title }}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Edit</button>
        </form>
    </main>
{% endblock content %}
