.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

html,
body,
main,
footer
{
    background: rgb(242, 113, 39);
    background: -moz-linear-gradient(90deg,
            rgba(242, 113, 39, 1) 0%,
            rgba(242, 185, 15, 1) 50%,
            rgba(242, 146, 29, 1) 100%);
    background: -webkit-linear-gradient(90deg,
            rgba(242, 113, 39, 1) 0%,
            rgba(242, 185, 15, 1) 50%,
            rgba(242, 146, 29, 1) 100%);
    background: linear-gradient(90deg,
            rgba(242, 113, 39, 1) 0%,
            rgba(242, 185, 15, 1) 50%,
            rgba(242, 146, 29, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f27127", endColorstr="#f2921d", GradientType=1);
}
button {
padding: 0.25em 1em;
display: flex;
align-items: center;
justify-content: center;
line-height: 1;
text-decoration: none;
color: black;
font-size: 18px;
border-radius: 10px;
width: 120px;
height: 20px;
font-weight: bold;
transition: 0.3s;
background-color: #0236077F;
margin-left: 1030px;
}
form {
    align-items: center;
    column-gap: 10px;
    grid-template-columns: 100px 1fr;
}

h1 {
    text-align: center;
    color: #024F33FF;
    font-size: 35px;
    margin: 0;
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
    font-family: "la tequila out";
}

h2 {
    text-align: center;
    color: #024F33FF;
    font-size: 19px;
    margin-right: 40px;
    padding-bottom: 5px;
    font-family: "la tequila out";
}

main {
    padding: 0;
}

footer {
    width: 100%;
    bottom: 0px;
    z-index: 0;
    padding: 20px;
    text-align: center;
    color: #024F33FF;
    font-family: "la tequila out";
    font-size: 10px;
}

img {
    display:  block;
    border:  #024F33FF;
    border-width: 10px;
    height: 200px;
}
.ingredients img {
    padding-left: 880px;
    width: 50%;
    border:  #024F33FF;
    border-width: 10px;
    height: 300px;
    width:400px;
    margin-bottom: auto;
}
.ingredients h2 {
    text-align: center;
    padding-left: 880px;
}
p {
    text-align: center;
    align-items: center;
    column-gap: 10px;
    grid-template-columns: 100px 1fr;
}

nav {
    position: relative;
    width: 100%;
    margin: 0px;
    text-align: left;
    text-shadow: 2px 2px 2px #0000004b;
    padding-bottom: 10px;
}
.grid-container p {
    text-align: justify;
}
.welcome {
    text-align: left;
    font-family: "la tequila out";
    color: #024F33FF;
    font-size: 19px;
}
.links {
    display: inline-block;
    margin: 0 1em;
    padding: 1em 0 1em 0;
}
.links a {
    color: #024F33FF;
    text-decoration: none;
    padding: 5px;
}
.edit {
    text-align: center;
    padding: 10px;
}
a:link {
    color:#024F33FF;
}

a:visited {
    color: #024F33FF;
}

a:hover {
    color: blue;
}

a:active {
    color: #024F33FF;
}

table,
th,
td {
    margin: auto;
    align-items: center;
    border: 5px solid #f27127;
    color: #024F33FF;
    font-family: "la tequila";
    background: #f2b90f;
}

ol li {
    align-items: center;
    font-size: 20px;
    font-style: bold;
    color: #024F33FF;
    border: 2px solid #f2b90f;
    background: #f27127;
margin-right: 400PX;
margin-left: 400px;
}
